{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reportedjoke</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reportedJoke.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if reportedJoke.date %}{{ reportedJoke.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reportedjoke_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reportedjoke_edit', { 'id': reportedJoke.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
